* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.logo {
  width: 175px;
  margin-top: 30px;
}

.container {
  max-width: 1440px;
  height: 100vh;
  background: #674bb1;
  background-image: url('../../images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;

  .wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;

    .main-section {
      display: flex;
    }
  }
}

.main-section {
  .img-section {
    width: 50%;
    margin-top: 50px;
    // border: 5px solid white;
    text-align: center;

    .img {
      width: 100%;
      height: auto;
    }
  }

  .info-section {
    width: 50%;
    margin-top: 50px;
    // border: 5px solid red;
    padding: 40px;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      padding-bottom: 25px;
    }

    p {
      line-height: 1.5;
      padding-bottom: 40px;
    }

    .btn {
      text-decoration: none;
      padding: 12px 70px;
      background: #fff;
      border-radius: 50px;
      color: #674bb1;
    }
  }
}

.wrapper {
  .social-icons {
    float: right;

    ion-icon {
      font-size: 32px;
      padding: 0 7px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 150px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .container {
    height: 100%;
    background-image: url('../../images/bg-mobile.svg');
    .wrapper {
      width: 85%;
      .main-section {
        display: block;
      }

      .social-icons {
        float: none;
        margin: 0 auto;
        margin-top: 75px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .main-section {
    .img-section,
    .info-section {
      width: 100%;
    }

    .img-section {
      text-align: center;
      .img {
        width: 75%;
      }
    }
    .info-section {
      margin-top: 20px;
      padding: 20px;
      text-align: center;

      .btn {
        display: inline-block;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.3em;
  }
}
